body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    margin: 0;
    font-size: 1.5rem;
}
header{
    background: #f7f8f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: 10px;
}

header nav i{
    font-size: 2rem;
}

header nav a{
    color: black;
}

.cover{
    background: #f7f8f9;
    padding: 16px 32px;
}

.cover img{
    max-width: 100%;
    height: auto;
}

.cover h2{
    position: relative;
}

.cover .btn{
    background-color: #f6e05e;
    border-radius: 25px;
    padding: 10px 48px;
    margin-top: 20px;
    font-size: 0.9375rem;
    font-weight: bold;
    border-width: 0;
    cursor: pointer;
}

.cover button:hover{
    background: #f7e576;
    background-color: #f7e576;
}